/* Mici HTML Template*/

@media only screen and (max-width: 1140px){
	
	.main-header{
		margin:0px !important;
	}
	
	.banner-section{
		padding-top:200px;
	}
	
	.main-menu .navigation > li{
		margin-left:0px;
	}
	
	.main-header .info-box strong{
		font-size:13px;
	}
	
	.banner-section .content{
		width:100%;
		max-width:100%;
		text-align:center;
	}

	.main-header .header-upper .button-box{
		display:none;
	}
	
	.main-header .outer-box .buttons-box .theme-btn{
		font-size:16px;
	}
	
	.main-header .outer-box .option-box > li{
		margin-left:15px;
	}
	
	.main-slider h2{
		font-size:36px;
	}
	
	.main-header .header-upper .logo-box{
		
	}
	
	.main-header .nav-outer{
		padding-top:0px;
	}
	
	.main-menu .navigation > li{
		margin-right:25px;
	}
	
	.choose-section .featured-block:nth-child(2n){
		transform: translateY(0px);
	}
	
	.featured-block .inner-box{
		padding:30px 25px;
	}
	
	.choose-section{
		padding-bottom:40px;
	}
	
	h2{
		font-size:40px;
	}
	
	.banner-section-two .content-column .inner-column,
	.testimonial-section-two{
		padding-top:0px;
	}
	
	.business-section-two .content-column .inner-column,
	.business-section .content-column .inner-column,
	.service-block .inner-box .text{
		padding:0px;
	}
	
	.services-section .inner-container .pattern-layer-two{
		display:none;
	}
	
	.team-member .inner-box{
		padding:35px 15px 40px;
	}
	
	.news-single .inner-box,
	.sidebar-page-container .news-classic .classic-inner{
		padding-right:0px;
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.banner-section{
		padding-top:120px;
	}
	
	.main-header .nav-outer{
		width:100%;
	}
	
	.main-header{
		position:relative;
		background-color:#222222;
	}
	
	.fixed-header .sticky-header{
		display:none;
	}
	
	.main-menu .navigation > li > a{
		font-size:14px;
	}
	
	.main-header .options-box{
		margin-top:0px;
		position:absolute;
		left:0px;
		top:25px;
		z-index:12;
		display:none;
		right:auto;
	}
	
	.main-header .header-upper .upper-right{
		padding-top:0px;
		width:100%;
		text-align:center;
	}
	
	.main-menu .navigation > li{
		margin-right:25px;
	}
	
	.main-header .header-upper .outer-container{
		padding:0px 15px;
	}
	
	.main-header .header-upper .support-box{
		margin-top:10px;
	}
	
	.main-header .nav-outer{
		position:relative;
	}
	
	.main-header .header-upper .outer-box{
		position: absolute;
		right: 0px;
		top: 2px;
	}
	
	.main-header .header-upper .logo-box{
		padding:16px 0px;
	}
	
	.main-header .main-menu .navigation > li > a,
	.main-header.fixed-header .main-menu .navigation > li > a{
		padding:0px 0px 20px;
	}
	
	.main-header.fixed-header .header-upper .outer-box,
	.main-header .header-upper .outer-box{
		top:-10px;
		padding-top:0px;
	}
	
	.banner-section .content-column h1 br{
		display:none;
	}
	
	.banner-section .content-column .inner-column{
		padding-top:0px;
	}
	
	.progress-section .image-column .inner-column{
		text-align:center;
	}
	
	.progress-section .image-column{
		order:2;
	}
	
	.progress-section .content-column{
		order:1;
	}
	
	.management-section .image-column .crm-box{
		left:0px;
	}
	
	.collaborate-section .image-column .inner-column{
		margin-left:0px;
		text-align:center;
	}
	
	.collaborate-section .image-column .small-image{
		left:15px;
	}
	
	.collaborate-section .content-column{
		order:1;
		padding-bottom:50px;
	}
	
	.collaborate-section .image-column{
		order:2;
	}
	
	.testimonial-section .inner-container{
		padding:0px 0px;
	}
	
	.price-block{
		margin-bottom:30px;
	}
	
	.main-footer{
		background-color:#f8fdff;
	}
	
	.main-footer .pattern-layer{
		background:none;
	}
	
	.header-style-two .nav-outer{
		padding-left:0px;
	}
	
	.banner-section-two{
		padding-top:120px;
	}
	
	.banner-section-two .content-column{
		padding-bottom:50px;
	}
	
	.service-block{
		margin-bottom:30px;
	}
	
	.gallery-section .title-box h2 br,
	.service-block .inner-box .text::before{
		display:none;
	}
	
	.business-section{
		padding-top:80px;
	}
	
	.business-section .content-column{
		padding-bottom:40px;
	}
	
	.business-section-two .content-column{
		order:1;
		padding-bottom:40px;
	}
	
	.business-section-two .image-column{
		order:2;
	}
	
	.testimonial-section-two .image-column{
		padding-bottom:60px;
	}
	
	.footer-style-two .copyright{
		text-align:center;
		margin-bottom:10px;
	}
	
	.footer-style-two .footer-bottom .privacy-column{
		text-align:center;
	}
	
	.about-section .image-column .image img{
		width:100%;
		display:block;
	}
	
	.about-section .lower-image{
		margin-top:30px;
	}
	
	.gallery-block-two .content-column .inner-column{
		padding:0px;
	}
	
	.gallery-block-two .content-column{
		order:1;
	}
	
	.gallery-block-two .image-column{
		order:2;
	}
	
	.gallery-single-section .lower-content .project-list{
		padding-top:40px;
	}
	
}

@media only screen and (max-width: 767px){

	/*
	* 2023-02-13 모바일 버전 스타일 추가
	*/
	.padding-0 {
		padding: 0 !important;
	}

	.padding-15 {
		padding: 15px !important;
	}

	.history_box h4 .roboto {
		font-size: 1.1rem;
	}

	.history_box ul {
		float: right;
		width: calc(100% - 57px);
		border-top: 1px solid #d9d9d9;
	}

	.history_box ul li dl {
		padding-left: 45px;
		position: relative;
	}

	.history_box ul li dl dd {
		font-size: 13px;
		line-height: 1.5rem;
		font-weight: 400;
	}

	.history_box ul li dl dt {
		font-size: 0.9rem !important;
	}

	.ai01 .solution>div {
		padding: 25px !important;
	}

	.ai01 .solution>div ul li {
		font-size: 14px;
		font-weight: bold;
		color: #777777;
	}

	.best_case_detail_title {
		margin: 20px 0 0 0 !important;
	}

	.best_case_detail_content_text {
		margin: 20px 0 20px 0 !important;
	}

	.best_case_detail_background, .best_case_detail_row {
		padding: 1px 10px !important;
	}

	.best_case_detail_content_company {
		font-size: 13px !important;
	}


	
	.best_case_detail_content_company p {
		font-size: 14px !important;
	}

	.ai01 .solution ol .tit {
		margin-right: 17px !important;
		font-size: 15px !important;
	}

	.ai01 .solution>div p {
		font-size: 15px !important;
		font-weight: bold;
	}

	.bullet ul li {
		font-size: 0.8rem;
	}
	
	/*
	* -----------------------------------------------------
	*/
	
	.main-menu .navigation > li.has-mega-menu,
	.mobile-menu .navigation li.has-mega-menu{
		display: none;
	}
	
	.main-menu .navigation > li.has-mega-menu{
		position:relative !important;	
	}
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.sec-title h2,
	.sec-title-two h2,
	.gallery-section .title-box h2{
		font-size:28px;	
	}
	
	.main-header.fixed-header .header-upper .outer-box{
		padding-top:0px;
		top:0px;
	}
	
	.main-header.fixed-header{
		position:relative;
	}
	
	.main-header.fixed-header .header-upper .logo-box{
		padding:20px 0px 12px;
	}
	
	.main-menu{
		width:100%;
		display:block;
	}
	
	.main-menu .navbar-collapse {
	   max-height:300px;
	   max-width:none;
		overflow:auto;
		float:none !important;
		width:100% !important;
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .navbar-collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:15px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #cc8809;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#cc8809;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#2c2c2c;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#cc8809;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-header .top-left,
	.main-slider .owl-nav,
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .header-upper .outer-box{
		position:absolute;
		left:0px;
		top:0px;
		right:auto;
		z-index:12;
		padding-left:0px;
		padding-top:0px;
	}
	
	.main-header .btn-outer{
		left:0px;
		top:0px;
		right:auto;
		margin-top:15px;
		text-align:left;
		z-index:12;
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}
	
	.main-header .header-lower .outer-box{
		position:absolute;
		z-index:12;
		display:block;
	}
	
	.main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
	    background: none;
		border: 1px solid #ffffff;
	}
	
	.main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .nav-outer{
		width:100%;
		margin-top:10px;
	}
	
	.main-slider h3{
		font-size:18px;
	}
	
	.main-slider .slide{
		padding:120px 0px;
	}
	
	.main-header .outer-box .option-box > li{
		margin-left:0px;
		margin-right: 20px;
	}
	
	.main-header .header-lower .search-box-outer .dropdown-menu{
		left:0px !important;
	}
	
	.main-header .header-upper .search-box-outer{
		display:none;
	}
	
	.main-header .header-upper .search-box-outer .dropdown-menu{
		top:51px !important;
		left: 0px;
		right: auto;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		margin-bottom:25px;
		left:0px;
		top:0px;
	}
	
	.sidebar-page-container .comments-area .comment{
		padding-left:20px;
	}
	
	.main-header .header-upper .logo-box{
		padding:20px 0px 12px;
		z-index:20;
	}
	
	.main-header .header-upper .option-box .nav-btn{
		margin-left:0px;
	}
	
	h1{
		font-size:46px;
	}
	
	.management-section .image-column img,
	.banner-section .image-column .image img{
		max-width:100%;
	}
	
	.featured-block .inner-box{
		text-align:center;
	}
	
	.featured-block .inner-box .icon-box{
		margin:0 auto;
	}
	
	.management-section .image-column .inner-column{
		margin-right:0px;
	}
	
	.testimonial-block .inner-box .content{
		padding-left:30px;
		padding-right:30px;
	}
	
	.clients-section .inner-container{
		padding-left:15px;
		padding-right:15px;
	}
	
	.web-section .content-column .inner-column,
	.management-section .content-column .inner-column{
		padding-right:0px;
	}
	
	.banner-section-two .content-column h1{
		font-size:40px;
	}
	
	.business-section-two .image-column .inner-column .pattern-layer-two,
	.banner-section-two .content-column h1 br{
		display:none;
	}
	
	.banner-section-two .content-column .text{
		font-size:16px;
	}
	
	.banner-section-two .image-column .image img{
		max-width:100%;
	}
	
	.main-header .header-upper .outer-box .nav-box{
		margin-left:0px;
	}
	
	.call-to-action-section-two{
		padding-left:20px;
		padding-right:20px;
	}
	
	.page-title .image{
		display:none;
	}
	
	.page-title{
		padding: 80px 0px;
	}
	
	.page-title h2{
		padding-top:0px;
	}
	
	.agency-block .inner-box{
		border:1px solid #e2e2e2;
	}
	
	.gallery-section .filters .filter-tabs{
		border:none;
	}
	
	.gallery-section .filters li{
		border:1px solid #ececec;
		margin-bottom:8px;
		margin-right:5px;
	}
	
	.gallery-section .filters li:before{
		display:none;
	}
	
	.gallery-block-two.style-two .content-column .inner-column{
		padding-right:0px;
	}
	
	.gallery-single-section .lower-content .block-content h3{
		padding-top:0px;
	}
	
	.news-single .inner-box .lower-content h3,
	.news-block .inner-box .lower-content h3{
		font-size:24px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.news-single .social-box,
	.gallery-single-section .more-projects .more-project,
	.testimonial-section-two .image-column .pattern-layer,
	.business-section-two .image-column .inner-column .pattern-layer,
	.business-section .image-column .inner-column .pattern-layer-two,
	.business-section .image-column .inner-column .pattern-layer,
	.business-section-two .content-column .inner-column h2 br,
	.banner-section .content-column .text br,
	.progress-section .pattern-layer-one,
	.banner-section .patern-layer-two{
		display:none;
	}
	
	h1{
		font-size:36px;
	}
	
	.call-to-action-section-two h4,
	.testimonial-section-two .content-column h2,
	.business-section-two .content-column .inner-column h2,
	h2{
		font-size:30px;
	}
	
	.progress-section .content-column .progress-block .inner-box .text{
		padding-right:0px;
	}
	
	.progress-section .content-column .progress-block .inner-box .upper-box{
		padding-top:6px;
	}
	
	.web-block .inner-box .content{
		padding-left:0px;
	}
	
	.web-block .inner-box .icon-box{
		position:relative;
		margin-bottom:20px;
	}
	
	.about-section .title-box .bold-text,
	.testimonial-block .inner-box .content .text{
		font-size:16px;
	}
	
	.blog-author-box .author-inner .inner-box{
		padding-left:0px;
	}
	
	.blog-author-box .author-inner .inner-box .image{
		position:relative;
	}
	
}

@media only screen and (max-width: 479px) {
	
	.sec-title h2, .sec-title-two h2{
		font-size:20px;
		line-height:1.4em;
	}
	
	.call-to-action-three-section .title-box h2,
	.business-section .content-column .inner-column h2{
		font-size:17px;
		line-height:1.4em;
		font-weight: 600;
	}
	
	.management-section .image-column .crm-box{
		width:100%;
	}
	
	.progress-section{
		overflow:hidden;
	}
	
	.collaborate-section .content-column .progress-block .inner-box .upper-box{
		padding:0px;
	}
	
	.gallery-single-section .lower-content .block-content h3{
		font-size:26px;
	}
	
	.collaborate-section .content-column .progress-block .inner-box .upper-box .icon{
		position:relative;
		display:block;
		margin-bottom:15px;
	}
	
	.main-header .header-upper .outer-box .nav-box li:first-child,
	.collaborate-section .image-column .small-image{
		display:none;
	}
	
	.service-block .inner-box{
		padding-left:15px;
		padding-right:15px;
	}
	
	.web-block .inner-box{
		padding:35px 25px;
	}
	
	.agency-block .inner-box{
		padding:40px 30px;
	}
	
	.gallery-single-section .more-projects .more{
		padding:10px 15px;
	}
	
	.news-single .inner-box .lower-content .text blockquote{
		padding:25px 25px;
		font-size:16px;
	}
	
	.contact-page-section .info-column .content ul{
		padding:40px 20px;
	}
	
}